@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
    background-color: #3c78cf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.progress{
    position: relative;
    height: 30px;
    width: 65%;
    border: 7px solid #111111;
    border-radius: 100px;
    margin: auto;
    background-color: #f9efe5;
}
.progress .color{
    position: absolute;
    background-color: #fbaee3;
    width: 0px;
    height: 30px;
    border-radius: 1000px;
    animation: progressBar 4s infinite linear;    
}

@keyframes progressBar{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
}

h1 {
    font-family: 'sora', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: #ffff;
    font-weight: 500;
}