input[type="file"] {
    display: none;
}

/* .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
} */
.image-upload>input {
    display: none;
  }

  #img_url {
    background: #ddd;
    width:100px;
    height: 90px;
    display: block;
  }