@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    font-family: 'sora', sans-serif;
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

table th {
    width: 40%;
}

.card img {
    max-height: 150px;
    object-fit: cover;
}

.wrapper, .sidebar {
  height: 100%;
  display: flex;
}

.wrapper, #sidebar {
  flex-basis: 5rem;
  flex-grow: 1;
  padding: 1rem;
  /* max-width: 30rem; */
  /* height: 100%; */
  box-sizing: border-box;
  overflow: auto;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

#sidebar {
  display: flex;
  flex-direction: column;
}


#sidebar2 {
    display: flex;
    flex-direction: column;
  }

h2 {
  font-size: 1.5rem;
  margin: 0 0 5px 0;
  flex-grow: 0;
}

.property-carousel {
    height: 500px;
}

.property-carousel .carousel-inner,
.property-carousel .carousel-item {
    height: 100%;
}

.property-carousel img {
    height: 100%;
    object-fit: cover;
}

button:hover {
  color: #c5d4f0;
}

button:disabled {
  background-color: #9fc1ee;
  color: #c5d4f0;
  cursor: auto;
}

